:javascript
  $(".active").not('.breadcrumb-active').removeClass('active');
  var detail = location.href.replace(/^.*detail\//,"").replace(/\?.*$/,'');
  if(/^http:\/\//.test(detail)){
  detail = "profile";
  }
  $("a#"+detail).addClass('active');
  $("a#"+detail).parent().addClass('active');
