.user-thumbnail
  %a.thumbnail.no-underline.username-link{:href => user_path(user), :style=>"text-align:center;"}
    %img.user-prof-pic{:src=>user.profile_pic, :alt => user.name}
    %span{:style => "display:inline-block;"}
      =user.name

