.jumbotron
  %p.lead
    Welcome to the musician portfolio!
    %p.alert.alert-warning
      Whoops! You don't have any audio files uploaded. (Also, there's no way to upload anything yet.)

= render "menus"
