.jumbotron
  %p.lead
    Welcome to the visual art portfolio!
    %p.alert.alert-warning
      Whoops! You don't have any pieces uploaded. (Also, there's no way to upload anything yet.)

= render "menus"
