.col-md-3
  / Friends' contests
  %h3.smallheading.text-left One category...
  %hr.smallrule/
  
.col-md-3
  / Recent contests
  %h3.smallheading.text-left Another...
  %hr.smallrule/
  %ul#recent_contests

.col-md-6
  / More
  %h3.smallheading.text-left More About #{@user.name}
  %hr.smallrule/
  dick...

= render "menus"
