%h1 Abstract Initiative Closed Alpha

%p
  Click
  =link_to "here", users_path
  for the list of users. 
%p
  Click
  =link_to "here", sections_path
  for the sections directory, or below for a specific section portal:
  %ul
    %li 
      =link_to "Writing", writing_path
    %li 
      =link_to "Audio", audio_path
    %li 
      =link_to "Multimedia", multimedia_path
    %li 
      =link_to "Visual Art", visual_art_path
  
%p Site meta-pages:
%ul
  %li
    =link_to "About", about_path
  %li
    =link_to "Support", contact_path
  %li
    =link_to "Random Piece", random_path

%p
  Click
  =link_to "here", new_user_session_path
  to sign in, or
  =link_to "here", new_user_registration_path
  to sign up
