.container.marketing
  .row.featurette
    .col-md-5
      %img.featurette-image.img-responsive{:src => "/assets/placeholder.png"}
    .col-md-7
      %h2.featurette-heading
        Writing
        %small 
          Fiction &bullet; Essays &bullet; Poetry
      %p.lead
        #{pluralize User.writers.size, "writer"}
        &bullet;
        0 pieces published
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Visual Arts
        %small 
          Painting &bullet; Sketches &bullet; Photography
      %p.lead
        #{pluralize User.visual_artists.size, "artist"}
        &bullet;
        0 pieces published
    .col-md-5
      %img.featurette-image.img-responsive{:src => "/assets/placeholder.png"}
  %hr.featurette-divider
  .row.featurette
    .col-md-5
      %img.featurette-image.img-responsive{:src => "/assets/placeholder.png"}
    .col-md-7
      %h2.featurette-heading
        Video
        %small
          Shorts &bullet; Music Videos
      %p.lead
        #{pluralize User.multimedia_artists.size, "videographers"}
        &bullet;
        0 pieces published
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Audio
        %small
          Remixes &bullet; Covers &bullet; Songs
      %p.lead
        #{pluralize User.musicians.size, "musician"}
        &bullet;
        0 pieces published
    .col-md-5
      %img.featurette-image.img-responsive{:src => "/assets/placeholder.png"}
  %hr.featurette-divider
