%h2 Something huge just happened.

%p Do you feel it? There's something in the air. You can't place your finger on it, but it feels like your life will never be the same.

%b Oh, that's right...

%div.hero-unit.welcome
  %h1 You've joined Abstract Initiative.
  = link_to "Take The Tour", tour2_path
  &nbsp;&bullet;&nbsp;
  = link_to "Skip For Now", "users#dashboard"


