=simple_form_for @post, :url => "/blog/post", :html =>{:class=>"form-horizontal"} do |f|
  = f.input :title
  = f.input :content
  .form-actions
    = f.button :submit, "Post &rarr;".html_safe, :class => "btn btn-primary"
