.blog-header{
	background:lightgray;
	padding:.25em 1em;
	font-size: 18px;
}	
.blogpost-container{
	border-left: 1px solid lightgray;	
}

.blog-body{
	padding-left:1em;
}

.blog-archive{
background:#222;
padding:1em;color:white;
h2{
padding-top:0px;margin-top:0px;
}
}

.blog-content{
	margin-top:1em;
}