-unless controller_name == "blog"
  %ol.breadcrumb
    %li
      = link_to "Abstract Initiative", root_path
    - if controller_name != "registrations" and controller_name != "sessions" and controller_name != "home"
      %li
        = link_to controller_name.titlecase, action: "index"
    - if controller_name == "users" and action_name == "detail"
      %li.active.breadcrumb-active
        = @user.name
    - else
      %li.active.breadcrumb-active
        = @fancy_action_name or action_name.titlecase
